.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    z-index: -9999;
    position: relative;

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 5%;
    }

    .imageContainer img{
        height: 100%;
        object-fit: cover;
    }   

    .wrapper{
     max-width: 1366px;   
        margin: auto;  
        height: 100%;  
        
        .textContainer{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            h2{
                font-size: 30px;
                color: #fff;
                font-weight: 200;
                letter-spacing: 10px;
            }

            h1{
                font-size: 80px;
            }
            .buttons{
                button{
                    padding: 8px 23px;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    background: transparent;
                    color: #fff;
                    margin:5px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    font-weight: 200;
                }
            }

            

            img{
                width: 30px;
                object-fit: cover;
            }
        }
    }
    .slidingTextContainer{
         position: absolute;
         font-size: 40vh;
         bottom: -120px;
         white-space: nowrap;
         color: #ffffff12;
         width: 70%;
    }
}