
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */


/* .myfooter {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)), url('https://images.pexels.com/photos/5483064/pexels-photo-5483064.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100vh;
} */


.myfooter {
  width: 100%;
  height: 70vh;
  background-color: rgba(43, 43, 117, 0.494);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.myborder{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px;
}

.svg{
  width: 6%;
  height: 10%;
}

@media only  screen and (max-width: 468px) {

  .myfooter {
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 43, 117, 0.494);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .getColomn {
    display: flex;
    flex-direction: column;
  } 
.getWidth{
  width: 100%;
  height: auto;
}

.svg{
  width: 12%;
  height: 10%;
}

}
