@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
body {
    font-family: 'Poppins', sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(23 37 84 / var(--tw-bg-opacity));
}

*{
    scroll-behavior: smooth;
    transition: all 0.5s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* my breackpoint for tablet */

.getmyPortfolio:nth-child(2),
.getmyPortfolio:nth-child(4) {
 display: flex;
 flex-direction: row-reverse;
}

.myImgPortfolio {
    border-radius: 50px;
    /* Add box-shadow for a blue ring */
}


 
.myheader:hover{
    filter: drop-shadow(0 0 2em #61dafbaa);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
} 

/* Add this CSS to your stylesheets */
.fade-in-animation {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in-animation.show {
    opacity: 1;
  }
  
  .GridElement{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
  }
  .GridElement > div{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
  }

  .getElementSkills{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 1rem;
    padding: 1rem;
  }

  .getElementSkills > div{
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  /* .parent img{
   height: 100px;
   width: 100px;
   border-radius: 100px;
   margin-top:-75px;
   border: 5px solid rgb(40, 40, 131); 
  position: relative;
  padding: 5px ;
  } */



/* Change Image ANIMATION */
.image-slider__image{
  /* give it delay of 5 second */
  animation: slide 5s ease-in-out infinite;
}

/* my breackpoint for mobile */
@media only screen and (max-width: 468px){
    body {
        border : 2px solid black; 
        width: 90%;
        margin: 0 auto;
    }
    
  
}