@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
body {
    font-family: 'Poppins', sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(23 37 84 / var(--tw-bg-opacity));
}

*{
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}


/* my breackpoint for tablet */
@media screen and (max-width: 834px) {

    body {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-stretch: normal;
    }

    .myheader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .myheader img{
        width: 100px;
        height: 100px;
    }
    .myheader img:hover{
       transform: scale(1.1);
        filter: drop-shadow(0 0 2em #61dafbaa);
        transition: all 0.5s ease-in;
    }
    .myCodeSpace{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.getmyPortfolio:nth-child(2),
.getmyPortfolio:nth-child(4) {
 display: flex;
 flex-direction: row-reverse;
}

.myImgPortfolio {
    border-radius: 50px;
    /* Add box-shadow for a blue ring */
}


.myheader img:hover{
    filter: drop-shadow(0 0 2em #61dafbaa);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}



/* my breackpoint for mobile */
@media only screen and (max-width: 480px) {
    .myheader {
        color: blueviolet;
        background-color: blueviolet;
    }
    body {
        border : 2px solid black; 
        width: 90%;
    }
}